[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Hiroaki Yoshida
	email = 67158360+hrak0x59@users.noreply.github.com
